<!DOCTYPE html>
<html lang="en">
<head>
    <title>litl.ink</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>Little Link</h1>
<form id="urlInputForm">
    <label for="urlInput">Enter a URL to make a little link</label><br>
    <input id="urlInput" type="text" name="urlInput"/>
    <input id="submitButton" type="submit"/>
</form>
<div id="linkContainer"></div>

<script>
  $("#urlInputForm").submit(function (event) {
    event.preventDefault();
    const value = document.getElementById('urlInput').value
    const url = window.location.href.includes('localhost') ? 'http://localhost:8080/addLink' : 'https://reithlitlink.herokuapp.com/addLink'
    const options = {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({url: value})
    }
    fetch(url, options).then((res) => res.json().then((res) => {
      const link = res.builtUrl
      document.getElementById("linkContainer").innerHTML =
        `<div id="linkContainer"><a href="${link}" target=_blank>${link.replace('http://', '')}</a></div>`;
    }))
  });
</script>

</body>
</html>