<!DOCTYPE html>
<html lang="en">
    <head>
        <title>litl.ink</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>Little Link</h1>
        <form id="urlInputForm">
            <label for="urlInput">Enter a URL to make a little link</label><br>
            <input id="urlInput" type="text" name="urlInput"/>
            <input id="submitButton" type="submit"/>
        </form>
        <div id="linkContainer"></div>

        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>