<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>litl.ink</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body class="background">
        <header>
            <h1 class="header">Little Link</h1>
        </header>
        <div class="formWrapper">
            <form id="urlInputForm">
                <div class="formContentWrapper">
                    <div class="inputWrapper">
                        <label class="inputLabel" for="urlInput" id="urlInputLabel">Enter a long URL to make a Little Link</label><br>
                        <input class="input" id="urlInput" type="text" name="urlInput"/>
                    </div>
                    <input id="submitButton" class="submitButton" type="submit" value="Make My Link"/>
                </div>
            </form>

            <div id="errorWrapper" class="errorWrapper">
                <span class="errorMessage">Invalid URL</span>
            </div>

            <div id="linkContainer" class="linkContainer">
                <h2 class="littleLinkLabel">Your little link:</h2>
                <a id="littleLink" class="littleLink"></a>
            </div>

            <div id="copyToClipboardWrapper">
                <button id="copyToClipboardButton" class="copyToClipboardButton">Copy to Clipboard</button>
            </div>
        </div>

        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>